@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
html,
body {
  font-family: "Avenir Next", sans-serif;
  background-color: #e5e5e5; }

.workspace {
  position: relative;
  overflow: hidden; }

html {
  font-size: 15px;
  letter-spacing: normal;
  line-height: 1.3;
  color: #000000; }

* {
  box-sizing: border-box; }

.content-area {
  font-size: 1rem; }
  .content-area p, .content-area div {
    margin-top: 0;
    margin-bottom: 1.4rem; }
    .content-area p:last-child, .content-area div:last-child {
      margin-bottom: 0; }
  .content-area blockquote {
    font-style: italic; }
  .content-area a, .content-area a:hover, .content-area a:active, .content-area a:visited, .content-area a:focus {
    font-family: inherit;
    text-decoration: underline; }
  .content-area a:hover, .content-area a:active, .content-area a:focus {
    text-decoration: none; }
  .content-area b,
  .content-area strong {
    font-family: inherit; }
  .content-area i,
  .content-area em {
    font-style: italic; }
  .content-area img {
    float: none !important;
    display: block;
    margin: 7px 0;
    max-width: 100%;
    width: 100%;
    height: auto !important; }

.header__burger {
  display: none;
  width: 30px;
  height: 25px;
  left: 20px;
  position: fixed;
  top: 30px;
  z-index: 9999; }
  .header__burger > i {
    display: block;
    width: 100%;
    height: 4px;
    background: #393185;
    border-radius: 30px;
    margin-bottom: 5px;
    transition: 0.5s; }
  @media all and (max-width: 991.98px) {
    .header__burger {
      display: block; } }
  @media all and (max-width: 767.98px) {
    .header__burger {
      top: 27px;
      left: 10px; } }

.header ._burger-acrtive {
  position: fixed;
  z-index: 999; }
  .header ._burger-acrtive > i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #393185; }
  .header ._burger-acrtive .one {
    transform: rotate(45deg); }
  .header ._burger-acrtive .two {
    width: 0; }
  .header ._burger-acrtive .three {
    transform: rotate(-45deg); }

.header {
  position: relative; }
  .header__top {
    height: 116px;
    background: #ffffff; }
    @media all and (max-width: 991.98px) {
      .header__top {
        height: 80px; } }
    @media all and (max-width: 767.98px) {
      .header__top {
        height: 65px; } }
  .header__row {
    padding: 0 15px;
    display: block;
    margin: 0 auto;
    max-width: 1275px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    @media all and (max-width: 767.98px) {
      .header__row {
        flex-wrap: nowrap; } }
  .header__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap; }
    @media all and (max-width: 767.98px) {
      .header__item {
        justify-content: flex-start; }
        .header__item:nth-child(3) {
          flex-basis: 100%;
          justify-content: flex-end; } }
  .header__logo {
    flex-basis: 15.2rem;
    margin-left: -4px;
    margin-top: 1px; }
    .header__logo img {
      max-width: 100%;
      height: auto; }
    @media all and (max-width: 991.98px) {
      .header__logo {
        margin-left: 60px; } }
    @media all and (max-width: 767.98px) {
      .header__logo {
        flex-basis: 8rem;
        margin-left: 50px;
        margin-top: 10px; }
        .header__logo > img {
          transform: scale(1.2); } }
  .header__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: -40px;
    margin-top: 3px; }
    .header__contact > i {
      margin-right: 20px; }
    @media all and (max-width: 991.98px) {
      .header__contact {
        margin-right: 0;
        display: block; }
        .header__contact > i {
          display: block; }
        .header__contact .header__contact-body {
          position: fixed;
          width: 100%;
          background: #393185;
          top: 82px;
          left: 0;
          z-index: 9999;
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10%);
          transition: .5s; }
          .header__contact .header__contact-body > a {
            color: #ffffff;
            display: block;
            text-align: left;
            padding: 20px;
            font-size: 1.33333rem; }
        .header__contact ._phone-active {
          visibility: visible;
          opacity: 1;
          transform: translateY(0); } }
  .header__link-contact, .header__lang-active, .header__lang-select {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.33333rem;
    text-align: center;
    text-transform: uppercase;
    color: #393185;
    margin-right: 40px;
    transition: 0.5s; }
    .header__link-contact:hover, .header__lang-active:hover, .header__lang-select:hover {
      color: #d84444; }
  .header__languange {
    position: relative; }
  .header__exit {
    margin-right: 34px;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-weight: 600; }
    .header__exit > p {
      display: none; }
    .header__exit:hover {
      transform: scale(1.1); }
    @media all and (max-width: 991.98px) {
      .header__exit {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background: #ffffff;
        width: 100%; }
        .header__exit > p {
          display: block; } }
  .header__head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer; }
    .header__head:hover .header__lang-active {
      color: #d84444; }
  .header__lang-active {
    margin-right: 10.5px; }
  .header__body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    bottom: auto;
    top: calc(100% + 10px);
    width: 100px;
    padding: 20px 30px;
    background: #ffffff;
    box-shadow: 0px 6px 24px -5px rgba(0, 0, 0, 0.75);
    margin: auto;
    right: -50%;
    transform: translate(0%, -30px);
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    transition: 0.4s; }
  .header__lang-select {
    margin-bottom: 10px;
    display: block; }
  .header .icon-search--click {
    width: 30px;
    height: 30px;
    background: #393185 url(../i/search.svg) center center no-repeat;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 1px; }

.icon-phone {
  width: 14px;
  height: 14px;
  background: transparent url("../i/phone.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-exit {
  width: 21px;
  height: 24px;
  background: transparent url("../i/exit.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-arrow-white {
  width: 8px;
  height: 5px;
  background: transparent url("../i/arrow-down-white.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.arrow-down {
  width: 8px;
  height: 5px;
  background: transparent url("../i/arrow-down.svg") center center no-repeat;
  background-size: 100% auto;
  display: block;
  transition: 0.5s; }

._gamburder-head-active > i {
  transform: rotate(-180deg); }

._gamburger-body-active {
  opacity: 1;
  visibility: visible;
  transform: translate(-30%, 0); }

.txt-default {
  display: block;
  margin: 0;
  font-size: 1.06667rem;
  color: #ffffff;
  padding-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #393185; }

.header__bottom {
  background: #393185;
  height: 75px;
  position: absolute;
  top: 116px;
  left: 0;
  right: 0; }
  @media all and (max-width: 991.98px) {
    .header__bottom {
      opacity: 0;
      visibility: hidden;
      transition: translateY(-10%);
      display: none; } }

.header__row-bottom {
  display: block;
  margin: 0 auto;
  max-width: 1275px;
  min-width: 320px;
  padding: 0 15px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.header__menu {
  align-items: stretch;
  padding: 0px;
  margin: 0px; }

.header__search {
  position: relative; }
  .header__search > input {
    width: 304px;
    height: 45px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    border: none;
    padding: 0px 35px 0 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 0.93333rem;
    line-height: 1.26667rem;
    outline: none;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal; }
  .header__search > button {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    left: auto;
    right: 14px;
    margin: auto;
    z-index: 99; }
    .header__search > button:focus {
      outline: none; }
  @media all and (max-width: 1287px) {
    .header__search input {
      width: 200px; } }
  @media all and (max-width: 991.98px) {
    .header__search {
      position: fixed;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10%);
      transition: 0.5s;
      left: 0;
      background: #393185;
      width: 100%;
      z-index: 999999;
      min-height: 100px;
      padding: 20px;
      display: flex;
      align-items: center; }
      .header__search > input {
        width: calc(100% - 40px);
        margin-bottom: 0;
        padding-bottom: 0; } }

.header ._active-search {
  opacity: 1;
  visibility: visible;
  transform: translate(0); }

@media all and (max-width: 991.98px) {
  .header__nav {
    box-shadow: 13px 0px 5px 0px rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #fbfbfb;
    z-index: 999;
    width: 400px;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-120%, 0); }
    .header__nav .menu {
      flex-direction: column;
      width: 100%;
      margin-top: 80px;
      border-top: 1px solid #393185;
      background-color: #ffffff; }
      .header__nav .menu > li {
        padding: 0px 0px 0px 0px;
        margin: 0;
        display: block;
        display: block;
        width: 100%; }
        .header__nav .menu > li > a {
          color: #393185;
          display: block;
          width: 100%;
          text-align: left;
          padding: 30px 20px;
          font-size: 1.33333rem; } }

.header ._nav-active {
  transform: translate(0, 0);
  opacity: 1; }

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0; }
  .menu > li {
    margin: 0px 77px 0 0;
    position: relative; }
    .menu > li:last-child {
      margin: 0px 0px 0px 0px; }
    .menu > li > a {
      font-style: normal;
      font-weight: bold;
      font-size: 0.93333rem;
      line-height: 1.26667rem;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      mix-blend-mode: normal;
      text-decoration: none;
      transition: 0.5s; }
      .menu > li > a:hover {
        color: #d84444; }
      .menu > li > a > i {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        left: auto;
        right: -19px;
        margin: auto; }
  .menu__sub-menu {
    position: absolute;
    list-style: none;
    padding-left: 0;
    top: calc(100% + 30px);
    left: 0;
    z-index: 9;
    background: #393185;
    min-width: 100%;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: translateY(-10%); }
    .menu__sub-menu > li > a {
      font-style: normal;
      font-weight: bold;
      font-size: 0.93333rem;
      line-height: 1.26667rem;
      text-transform: uppercase;
      color: #ffffff;
      mix-blend-mode: normal;
      text-decoration: none;
      padding: 10px;
      display: block;
      transition: 0.5s; }
      .menu__sub-menu > li > a:hover {
        color: #d84444; }
  @media all and (max-width: 1287px) {
    .menu > li {
      margin-right: 30px; } }

.icon-search {
  width: 16px;
  height: 16px;
  background: transparent url("../i/search.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.basket {
  cursor: pointer; }
  .basket__head {
    position: relative; }
    .basket__head .paragraphy {
      display: none; }
    .basket__head > .icon-basket {
      transition: 0.5s; }
    .basket__head:hover .icon-basket {
      transform: scale(1.2); }
    @media all and (max-width: 991.98px) {
      .basket__head {
        width: 100%;
        height: 50px;
        background-color: #393185;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-bottom: 0; }
        .basket__head .paragraphy {
          display: block;
          margin: 0;
          font-size: 1.06667rem;
          color: #ffffff;
          padding-left: 20px;
          margin-right: 20px;
          font-weight: 600; }
        .basket__head > span {
          position: relative;
          top: auto;
          bottom: auto;
          right: auto;
          transform: translate(0);
          margin-left: 20px; } }
  .basket__goods-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: #d84444;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.66667rem;
    line-height: 0.6rem;
    left: auto;
    bottom: auto;
    transform: translate(50%, -50%); }
  .basket__body {
    opacity: 0;
    visibility: hidden; }

.icon-basket {
  width: 22px;
  height: 18px;
  background: transparent url("../i/basket.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

._fixed-menu {
  top: 0;
  position: fixed;
  z-index: 99999999; }

.first-screen {
  position: relative;
  overflow: hidden;
  margin: 75px auto 0; }
  .first-screen__bottom {
    display: block;
    margin: 0 auto;
    max-width: 1275px;
    min-width: 320px;
    border-bottom: 1px solid rgba(57, 49, 133, 0.25);
    padding: 0px 15px 49px 15px; }
  .first-screen .swiper-slide__images {
    width: 100%;
    position: relative;
    padding: 0px 0px 30% 0px; }
    .first-screen .swiper-slide__images > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  @media all and (max-width: 1591px) {
    .first-screen .swiper-button-prev {
      left: 104px; }
    .first-screen .swiper-button-next {
      left: 208px; } }
  @media all and (max-width: 1283px) {
    .first-screen .swiper-button-prev {
      left: 15px; }
    .first-screen .swiper-button-next {
      left: 119px; } }
  @media all and (max-width: 991.98px) {
    .first-screen {
      margin: 0px auto 0; }
      .first-screen .swiper-slide__images {
        padding: 0px 0px 60% 0px; } }

.btn-to-purchases {
  width: 208px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #393185;
  font-style: normal;
  transition: 0.5s;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.06667rem;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.166582);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 0;
  z-index: 9999999;
  position: relative; }
  .btn-to-purchases > i {
    transform: rotate(-90deg);
    margin-right: 5px;
    z-index: 99; }
  .btn-to-purchases:hover {
    background-color: #211c4d; }
  @media all and (max-width: 991.98px) {
    .btn-to-purchases {
      width: 150px;
      height: 60px; } }
  @media all and (max-width: 543px) {
    .btn-to-purchases {
      margin: 10px auto; } }

.swiper-button-next {
  width: 104px;
  height: 100px;
  z-index: 999;
  outline: none;
  top: auto;
  bottom: 49px;
  right: auto;
  left: 22%; }
  .swiper-button-next::after {
    display: none; }
  .swiper-button-next > i {
    z-index: 999; }
  .swiper-button-next:hover > i {
    background: transparent url(../i/slider-arrow-hover.svg) center center no-repeat;
    transform: rotate(0); }
  @media all and (max-width: 991.98px) {
    .swiper-button-next {
      left: 66px !important;
      height: 60px; } }
  @media all and (max-width: 543px) {
    .swiper-button-next {
      right: -18px !important;
      left: auto !important;
      top: 30%;
      bottom: auto;
      margin: auto; }
      .swiper-button-next::before {
        width: 60px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.166582);
        border-radius: 4px;
        height: 60px; }
      .swiper-button-next > i {
        margin-left: 0; } }
  @media all and (max-width: 767.98px) {
    .swiper-button-next {
      top: 20%; } }

.swiper-button-prev {
  width: 104px;
  height: 100px;
  outline: none;
  top: auto;
  z-index: 99;
  bottom: 49px;
  right: auto;
  left: 17%; }
  .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.166582);
    border-radius: 4px;
    width: 208px;
    height: 100px; }
  .swiper-button-prev::after {
    display: none; }
  .swiper-button-prev > i {
    z-index: 999; }
  .swiper-button-prev:hover > i {
    background: transparent url(../i/slider-arrow-hover.svg) center center no-repeat;
    transform: rotate(-180deg); }
  @media all and (max-width: 991.98px) {
    .swiper-button-prev {
      height: 60px; }
      .swiper-button-prev::before {
        height: 60px;
        width: 150px; }
      .swiper-button-prev > i {
        margin-left: -30px; } }
  @media all and (max-width: 543px) {
    .swiper-button-prev {
      left: -18px !important;
      top: 30%;
      bottom: auto;
      margin: auto; }
      .swiper-button-prev::before {
        width: 60px; }
      .swiper-button-prev > i {
        margin-left: 0; } }
  @media all and (max-width: 767.98px) {
    .swiper-button-prev {
      top: 20%; } }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 0.25;
  border: 1px solid #393185;
  background: none;
  margin-right: 30px !important; }
  .swiper-pagination-bullet:last-child {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important; }
  @media all and (max-width: 991.98px) {
    .swiper-pagination-bullet {
      margin-right: 20px !important; } }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 89px; }
  @media all and (max-width: 991.98px) {
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 70px; } }
  @media all and (max-width: 543px) {
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 10px; } }

.swiper-pagination-bullet-active {
  background: #393185;
  opacity: 1; }

.icon-slide {
  width: 22px;
  height: 47px;
  background: transparent url("../i/slider-arrow.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-slide--prev {
  transform: rotate(-180deg); }

.workspace__social-medical {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 120px;
  margin: auto;
  z-index: 99;
  width: 40px;
  left: 0;
  right: auto;
  background: #ffffff; }

.icon-instagram {
  width: 40px;
  height: 40px;
  background: transparent url("../i/instagramm.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-viber {
  width: 40px;
  height: 40px;
  background: transparent url("../i/viber.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-messange {
  width: 40px;
  height: 40px;
  background: transparent url("../i/email.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.workspace__call {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  right: 40px;
  bottom: 66px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d84444;
  box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
  cursor: pointer;
  z-index: 99; }
  .workspace__call:hover {
    transform: scale(1.2) rotate(360deg); }
  @media all and (max-width: 767.98px) {
    .workspace__call {
      transform: scale(0.7);
      right: 0; } }

.icon-call {
  width: 28px;
  height: 28px;
  background: transparent url("../i/phone-big.svg") center center no-repeat;
  background-size: 100% auto; }

.stocks-and-news .swiper-button-next {
  top: 0 !important;
  right: 10px !important;
  left: auto;
  bottom: 0 !important;
  margin: auto !important; }
  .stocks-and-news .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.166582);
    border-radius: 4px;
    width: 100px;
    height: 65px; }

.stocks-and-news .swiper-button-prev {
  top: 0 !important;
  left: 10px !important;
  bottom: 0 !important;
  margin: auto !important; }
  .stocks-and-news .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.166582);
    border-radius: 4px;
    width: 100px;
    height: 65px; }

.stocks-and-news__row {
  display: block;
  margin: 0 auto;
  max-width: 1275px;
  min-width: 320px;
  padding: 0px 15px; }

.stocks-and-news__box {
  display: block;
  margin: 0 auto;
  max-width: 996px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch; }

.stocks-and-news__left {
  width: 292px;
  background: #ffffff; }
  .stocks-and-news__left > .box-item {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column; }
  @media all and (max-width: 991.98px) {
    .stocks-and-news__left {
      width: calc(100% - 30px);
      margin: 0px auto; } }
  @media all and (max-width: 479.98px) {
    .stocks-and-news__left {
      margin: 0; } }

.stocks-and-news__right {
  width: 655px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch; }
  .stocks-and-news__right .box-item:nth-child(3) {
    margin-bottom: 0; }
  .stocks-and-news__right .box-item:nth-child(4) {
    margin-bottom: 0; }
  @media all and (max-width: 991.98px) {
    .stocks-and-news__right .box-item {
      width: 100%;
      margin: 10px 0; }
      .stocks-and-news__right .box-item:nth-child(3) {
        margin-bottom: 10px; }
      .stocks-and-news__right .box-item:nth-child(4) {
        margin-bottom: 10px; } }
  @media all and (max-width: 991.98px) {
    .stocks-and-news__right {
      width: calc(100% - 30px);
      margin: 0px auto; } }
  @media all and (max-width: 479.98px) {
    .stocks-and-news__right {
      margin: 0; } }

.stocks-and-news__mini-box {
  width: 313.3px;
  background: #ffffff;
  margin-bottom: 28px; }
  @media all and (max-width: 991.98px) {
    .stocks-and-news__mini-box {
      width: 100%; } }

.stocks-and-news__wrap {
  display: block;
  margin: 0 auto;
  max-width: 1275px;
  min-width: 320px;
  padding: 0px 15px;
  position: relative;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(57, 49, 133, 0.25); }
  @media all and (max-width: 479.98px) {
    .stocks-and-news__wrap {
      padding: 0px 0px 0px 0px;
      margin-left: -15px; } }

.stocks-and-news .swiper-pagination-bullets {
  width: 100%;
  bottom: 93px; }
  @media all and (max-width: 991.98px) {
    .stocks-and-news .swiper-pagination-bullets {
      bottom: 145px; } }
  @media all and (max-width: 479.98px) {
    .stocks-and-news .swiper-pagination-bullets {
      bottom: 160px; } }

.stocks-and-news .btn-to-purchases {
  width: 208px;
  height: 65px; }

@media all and (max-width: 1287px) {
  .stocks-and-news .title-h2 {
    margin-bottom: 0 !important; }
  .stocks-and-news .swiper-container {
    padding-top: 80px; }
  .stocks-and-news .swiper-button-next,
  .stocks-and-news .swiper-button-prev {
    top: -20px !important;
    bottom: auto !important; } }

@media all and (max-width: 991.98px) {
  .stocks-and-news .title-h2 {
    margin-bottom: 0 !important; }
  .stocks-and-news .swiper-container {
    padding-top: 80px; }
  .stocks-and-news .swiper-button-next {
    left: auto !important; }
  .stocks-and-news .swiper-button-next,
  .stocks-and-news .swiper-button-prev {
    top: -0px !important;
    bottom: auto !important; }
    .stocks-and-news .swiper-button-next > i,
    .stocks-and-news .swiper-button-prev > i {
      margin-left: 0; } }

.title-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.46667rem;
  line-height: 3.06667rem;
  color: #3f3f3f;
  margin: 40px 0 70px; }

.box-item {
  background-color: #ffffff;
  padding: 20px 10px 25px 20px;
  position: relative; }
  @media all and (max-width: 991.98px) {
    .box-item {
      flex-basis: 100%; } }
  .box-item__price {
    margin-left: auto;
    margin-right: 0; }
    .box-item__price > span {
      font-style: normal;
      font-weight: bold;
      font-size: 0.8rem;
      line-height: 1.06667rem;
      text-align: right;
      text-decoration-line: line-through;
      text-transform: uppercase;
      color: #3f3f3f;
      display: block;
      margin: 0; }
    .box-item__price > p {
      font-style: normal;
      font-weight: bold;
      font-size: 1.26667rem;
      line-height: 1.73333rem;
      text-align: right;
      text-transform: uppercase;
      color: #d84444;
      margin: 0; }
  .box-item__bg {
    width: 100%;
    margin: 0px auto; }
    .box-item__bg > img {
      max-width: 100%;
      height: auto;
      margin: 0px auto;
      display: block; }

.mark {
  background: #d84444;
  box-shadow: 12px 12px 33px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.06667rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 0px;
  border-radius: 0 3px 3px 0; }

.text-fz12 {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.73333rem;
  text-transform: uppercase;
  color: #3f3f3f;
  margin: 0; }

.box-item--mini {
  position: relative; }

.mark--orange {
  background-color: #fbba58; }

.catalog-product__container {
  display: block;
  margin: 0 auto;
  max-width: 1275px;
  min-width: 320px;
  padding: 0px 15px; }

.catalog-product__slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch; }
  @media all and (max-width: 1287px) {
    .catalog-product__slide {
      justify-content: space-between; } }

.catalog-product__items {
  margin-right: 55px;
  margin-bottom: 91px; }
  @media all and (max-width: 1287px) {
    .catalog-product__items {
      margin-bottom: 20px; } }

.catalog-product__bottom {
  padding: 0px 0px 70px 0px;
  border-bottom: 1px solid rgba(57, 49, 133, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 69px; }

.catalog-product__navigation-pagination {
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.166582);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 35px; }
  .catalog-product__navigation-pagination .swiper-button-prev {
    position: relative !important;
    margin: 0 auto;
    padding: 0px 0px 0px 0px !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    width: auto;
    height: auto; }
    .catalog-product__navigation-pagination .swiper-button-prev::before {
      display: none; }
  .catalog-product__navigation-pagination .swiper-pagination {
    position: relative;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    top: auto !important;
    margin: 0 60px; }
    .catalog-product__navigation-pagination .swiper-pagination > span {
      margin-right: 17px !important; }
      .catalog-product__navigation-pagination .swiper-pagination > span:last-child {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important; }
  .catalog-product__navigation-pagination .swiper-button-next {
    position: relative !important;
    margin: 0 auto;
    padding: 0px 0px 0px 0px !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    width: auto;
    height: auto; }
    .catalog-product__navigation-pagination .swiper-button-next::before {
      display: none; }
  @media all and (max-width: 479.98px) {
    .catalog-product__navigation-pagination {
      padding: 0px 10px;
      width: 100%;
      height: auto;
      justify-content: center !important; }
      .catalog-product__navigation-pagination .swiper-pagination {
        margin: 10px 0;
        order: 1;
        width: 100%; }
      .catalog-product__navigation-pagination .swiper-button-prev {
        order: 2; }
      .catalog-product__navigation-pagination .swiper-button-next {
        order: 3; } }

.items {
  width: 253px; }
  .items__images {
    width: 100%;
    padding: 0px 0px 80% 0px;
    position: relative;
    background: #f5f5f5;
    margin-bottom: 19.7px; }
    .items__images > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      margin: auto; }
  @media all and (max-width: 1287px) {
    .items {
      width: 30%;
      margin-right: 0; } }
  @media all and (max-width: 991.98px) {
    .items {
      width: 48%; } }
  @media all and (max-width: 767.98px) {
    .items {
      width: 100%; } }

.btn-to-purchases--height {
  width: 208px;
  height: 65px; }

.why-hytly-we {
  margin-bottom: 70px; }
  .why-hytly-we__container {
    display: block;
    margin: 0 auto;
    max-width: 1275px;
    min-width: 320px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch; }
  .why-hytly-we__title-h2 {
    flex-basis: 100%; }
  .why-hytly-we__items {
    flex-basis: 24%; }
    .why-hytly-we__items > i {
      margin-bottom: 60px; }
    @media all and (max-width: 767.98px) {
      .why-hytly-we__items {
        flex-basis: 50%;
        margin-bottom: 10px; }
        .why-hytly-we__items > i {
          margin: 0px auto 20px; }
        .why-hytly-we__items > p {
          text-align: center; } }

.icon-cool {
  width: 36px;
  height: 45px;
  background: transparent url("../i/cool.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-car-mark {
  width: 36px;
  height: 45px;
  background: transparent url("../i/car.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-point {
  width: 36px;
  height: 45px;
  background: transparent url("../i/icon3.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }

.icon-box {
  width: 36px;
  height: 45px;
  background: transparent url("../i/box.svg") center center no-repeat;
  background-size: 100% auto;
  display: block; }
