{% include "html/_document-header.html" %}

<div class="workspace">
   <div class="workspace__cont">

      <div class="workspace__header">
         {% include "html/header.html" %}
      </div>
      <main class="workspace__content">
         <div class="workspace__crumbs">
            <a href="#">Каталог товарів</a>

         </div>
         <section class="catalog">
            <div class="catalog__row">
               <div class="filter-burger">
                  <div class="filter-burger__icon">
                     <i></i>
                     <i></i>
                     <i></i>
                  </div>
                  <p class="filter-burger__text text-fz12">Фільтр</p>
               </div>
               <div class="catalog__left-filter filter">
                  <div class="filter__items">
                     <p class="filter__title title-fz14">ціна</p>
                     <p class="filter__line-price">
                        <span class="circle circle--left"></span>
                        <span class="circle"></span>
                     </p>
                     <div class="filter__items-input">
                        <input type="number" min="13.00" placeholder="13.00" value="13.00">
                        <input type="number" min="13.00" placeholder="13.00" value="13.00">
                     </div>
                  </div>
                  <div class="filter__items">
                     <a href="#">Аксесссуари для бару</a>
                  </div>
                  <div class="filter__items">
                     <a href="#">Господарські товари</a>
                  </div>
                  <div class="filter__items">
                     <a href="#">Пакети</a>
                  </div>
                  <div class="filter__items">
                     <a href="#" class="click-link">
                        Пакети для сміття <i class="icon-right-black"></i>
                     </a>
                     <div class="filter__sub-items">
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                     </div>
                  </div>
                  <div class="filter__items">
                     <a href="#">Побутова хімія</a>
                  </div>
                  <div class="filter__items">
                     <a href="#">Одноразовий посуд</a>
                  </div>
                  <div class="filter__items">
                     <a href="#" class="click-link">Паперова група <i class="icon-right-black"></i></a>
                     <div class="filter__sub-items">
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>
                        <a href="#">Пакети для сміття</a>

                     </div>
                  </div>
                  <div class="filter__items">
                     <a href="#">Свічки</a>
                  </div>
                  <div class="filter__items">
                     <a href="#">Санітарно-гігеєнічні товари</a>
                  </div>
                  <div class="filter__items">
                     <a href="#">Упаковка для товарів</a>
                  </div>
               </div>
               <div class="catalog__right-product">
                  <div class="catalog__sort">
                     <div class="catalog__sort-left sort">
                        <div class="sort__head">
                           <p class="title-fz14">сортувати: за ціною</p>
                           <i class="icon-right-black"></i>
                        </div>
                        <div class="sort__bottom">
                           <a href="#">сортувати: за ціною</a>
                           <a href="#">сортувати: за ціною</a>
                           <a href="#">сортувати: за ціною</a>
                           <a href="#">сортувати: за ціною</a>
                        </div>
                     </div>
                     <div class="catalog__sort-left sort">
                        <div class="sort__head">
                           <p class="title-fz14">К-сть товару: <span>25</span></p>
                           <i class="icon-right-black"></i>
                        </div>
                        <div class="sort__bottom">
                           <a href="#">20</a>
                           <a href="#">15</a>
                           <a href="#">10</a>
                           <a href="#">5</a>
                        </div>
                     </div>
                  </div>
                  <div class="catalog__product">

                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod1.jpg" alt="product 1" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod2.jpg" alt="product 2" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod1.jpg" alt="product 3" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod4.jpg" alt="product 4" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>

                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod5.jpg" alt="product 5" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod6.jpg" alt="product 6" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod7.jpg" alt="product 7" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod8.jpg" alt="product 8" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>


                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod11.jpg" alt="product 11" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod12.jpg" alt="product 12" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod13.jpg" alt="product 13" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod14.jpg" alt="product 14" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>


                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod15.jpg" alt="product 15" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod16.jpg" alt="product 16" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod1.jpg" alt="product 1" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod2.jpg" alt="product 3" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>


                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod3.jpg" alt="product 3" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod4.jpg" alt="product 4" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>
                     <div class="catalog__product-elem product-elem">
                        <div class="product-elem__images">
                           <img src="img/prod5.jpg" alt="product 5" />
                        </div>
                        <p class="product-elem__name text-fz12">ТРУБОЧКИ ПАПЕРОВІ КОЛЬОРОВІ 19,5 СМ 50ШТ/УП</p>
                        <p class="product-elem__price text-fz19">164.88 грн</p>
                        <p class="product-elem__quantity">К-сть в упаковці: 100</p>
                     </div>

                  </div>
                  <div class="catalog__pagination pagination">
                     <a href="#" class="pagination__back">
                        <i class="icon-slide"></i>
                     </a>
                     <div class="pagination__list-page">
                        <a href="#" class="pagination__page pagination__page--active">1</a>
                        <a href="#" class="pagination__page">2</a>
                        <a href="#" class="pagination__page">3</a>
                        <a href="#" class="pagination__page">4</a>
                        <a href="#" class="pagination__page">5</a>
                        <a href="#" class="pagination__page">6</a>
                        <a href="#" class="pagination__page">7</a>
                        <a href="#" class="pagination__page">8</a>
                        <a href="#" class="pagination__page">9</a>
                        <a href="#" class="pagination__page">10</a>
                        <a href="#" class="pagination__page">11</a>
                     </div>
                     <a href="#" class="pagination__next">
                        <i class="icon-slide"></i>
                     </a>
                  </div>
               </div>


            </div>
         </section>

         <section class="why-hytly-we">
            <div class="why-hytly-we__container">
               <p class="why-hytly-we__title-h2 title-h2">Чому саме ми? Все просто!</p>
               <div class="why-hytly-we__items">
                  <i class="icon-cool"></i>
                  <p class="text-fz12">Контроль якості</p>
               </div>
               <div class="why-hytly-we__items">
                  <i class="icon-car-mark"></i>
                  <p class="text-fz12">Доставка</p>
               </div>
               <div class="why-hytly-we__items">
                  <i class="icon-point"></i>
                  <p class="text-fz12">Конкурентні ціни</p>
               </div>
               <div class="why-hytly-we__items">
                  <i class="icon-box"></i>
                  <p class="text-fz12">Більше 1000 товарів</p>
               </div>

            </div>

         </section>
         <section class="consultation">
            <div class="consultation__container">
               <p class="consultation__title">Отримати консультацію</p>
               <p class="consultation__subtitle">Маєте запитання? Залишіть ваші контакти і ми вам зателефонуємо!</p>
               <form action="#" class="consultation__form">
                  <div class="consultation__input-left">
                     <input type="text" placeholder="Ім`я">
                     <input type="tel" placeholder="Телефон">
                  </div>
                  <textarea placeholder="Ваше повідомлення" class="consultation__textarea"></textarea>
                  <div class="consultation__right">
                     <input type="checkbox" id="dont-robot">
                     <label for="dont-robot">Я не робот</label>
                     <button type="submit" class="consultation__send-form">
                        <i class="arrow-down"></i>
                        відправити
                     </button>
                  </div>
               </form>
            </div>

         </section>
      </main>
      <div class="workspace__footer">
         {% include "html/footer.html" %}
      </div>


   </div>
</div>

{% include "html/_document-footer.html" %}