{% include "html/_document-header.html" %}

<div class="workspace">
	<div class="workspace__cont">

		<div class="workspace__header">
			{% include "html/header.html" %}
		</div>
		<main class="workspace__content">
			<div class="workspace__social-medical">
				<a href="#" class="workspace__link-social"><i class="icon-instagram"></i></a>
				<a href="#" class="workspace__link-social"><i class="icon-viber"></i></a>
				<a href="#" class="workspace__link-social"><i class="icon-messange"></i></a>
			</div>
			<a href="#" class="workspace__call">
				<i class="icon-call"></i>
			</a>

			<section class="first-screen">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="swiper-slide__images">
								<img src="img/slide1.png" alt="" />
							</div>
							<div class="first-screen__bottom">
								<a href="#" class="btn-to-purchases">
									<i class="icon-arrow-white"></i>
									До покупок
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide__images">
								<img src="img/slide1.png" alt="" />
							</div>
							<div class="first-screen__bottom">
								<a href="#" class="btn-to-purchases">
									<i class="icon-arrow-white"></i>
									До покупок
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide__images">
								<img src="img/slide2.png" alt="" />
							</div>
							<div class="first-screen__bottom">
								<a href="#" class="btn-to-purchases">
									<i class="icon-arrow-white"></i>
									До покупок
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide__images">
								<img src="img/slide3.png" alt="" />
							</div>
							<div class="first-screen__bottom">
								<a href="#" class="btn-to-purchases">
									<i class="icon-arrow-white"></i>
									До покупок
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide__images">
								<img src="img/slide4.png" alt="" />
							</div>
							<div class="first-screen__bottom">
								<a href="#" class="btn-to-purchases">
									<i class="icon-arrow-white"></i>
									До покупок
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-button-next"><i class="icon-slide icon-slide--prev"></i></div>
					<div class="swiper-button-prev"><i class="icon-slide"></i></div>
					<div class="swiper-pagination"></div>
				</div>
			</section>
			<section class="stocks-and-news">
				<div class="stocks-and-news__row">
					<h2 class="title-h2">Акції та новинки</h2>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="stocks-and-news__box">
									<div class="stocks-and-news__left ">
										<div class="box-item">
											<div class="box-item__top-description">
												<span class="mark">Акция</span>
												<div class="box-item__price">
													<span>38,55 грн</span>
													<p>22,80 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news1.png" alt="roll" />
											</div>
											<p class="box-item__bottom-text text-fz12">Рушники паперові "Ecolo" 2шт\уп.</p>
										</div>
									</div>
									<div class="stocks-and-news__right">
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news2.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news3.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news4.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news5.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="stocks-and-news__box">
									<div class="stocks-and-news__left ">
										<div class="box-item">
											<div class="box-item__top-description">
												<span class="mark">Акция</span>
												<div class="box-item__price">
													<span>38,55 грн</span>
													<p>22,80 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news1.png" alt="roll" />
											</div>
											<p class="box-item__bottom-text text-fz12">Рушники паперові "Ecolo" 2шт\уп.</p>
										</div>
									</div>
									<div class="stocks-and-news__right">
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news2.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news3.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news4.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news5.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="stocks-and-news__box">
									<div class="stocks-and-news__left ">
										<div class="box-item">
											<div class="box-item__top-description">
												<span class="mark">Акция</span>
												<div class="box-item__price">
													<span>38,55 грн</span>
													<p>22,80 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news1.png" alt="roll" />
											</div>
											<p class="box-item__bottom-text text-fz12">Рушники паперові "Ecolo" 2шт\уп.</p>
										</div>
									</div>
									<div class="stocks-and-news__right">
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news2.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news3.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news4.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
										<div class="stocks-and-news__mini-box box-item--mini box-item">
											<div class="box-item__top-description">
												<span class="mark mark--orange">Новинка</span>
												<div class="box-item__price">
													<span>24,90 грн</span>
													<p>13,13 грн</p>
												</div>
											</div>
											<div class="box-item__bg">
												<img src="img/news5.png" alt="plastic container" />
											</div>
											<p class="box-item__bottom-text text-fz12">К-р SP62L (900мл)</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-button-next"><i class="icon-slide icon-slide--prev"></i></div>
						<div class="swiper-button-prev"><i class="icon-slide"></i></div>
					</div>
					<div class="stocks-and-news__wrap">
						<div class="swiper-pagination"></div>
						<a href="#" class="btn-to-purchases">
							<i class="icon-arrow-white"></i>
							ДЕТАЛЬНІШЕ
						</a>
					</div>
				</div>

			</section>
			<section class="catalog-product">
				<div class="catalog-product__container">
					<p class="title-h2">Каталог товарів</p>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="catalog-product__slide">
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog2.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog3.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog4.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog5.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog6.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog7.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog8.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog9.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog10.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
								</div>

							</div>
							<div class="swiper-slide">
								<div class="catalog-product__slide">
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog2.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog3.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog4.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog5.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog6.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog7.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog8.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog9.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog10.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
								</div>

							</div>
							<div class="swiper-slide">
								<div class="catalog-product__slide">
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog2.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog3.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog4.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog5.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog6.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog7.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog8.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog9.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog10.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
								</div>

							</div>
							<div class="swiper-slide">
								<div class="catalog-product__slide">
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog2.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog3.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog4.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog5.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog6.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog7.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog8.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog9.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog10.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
								</div>

							</div>
							<div class="swiper-slide">
								<div class="catalog-product__slide">
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog1.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog2.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog3.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog4.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog5.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog6.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog7.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog8.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog9.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
									<div class="catalog-product__items items">
										<div class="items__images">
											<img src="img/catalog10.png" alt="catalog-1" />
										</div>
										<p class="text-fz12">Аксесссуари для бару</p>
									</div>
								</div>

							</div>

						</div>
						<div class="catalog-product__bottom">
							<div class="catalog-product__navigation-pagination">
								<div class="swiper-button-prev"><i class="icon-slide"></i></div>
								<div class="swiper-pagination"></div>
								<div class="swiper-button-next"><i class="icon-slide icon-slide--prev"></i></div>

							</div>
							<a href="#" class="btn-to-purchases btn-to-purchases--height">
								<i class="icon-arrow-white"></i>
								ДЕТАЛЬНІШЕ
							</a>
						</div>
					</div>

				</div>

			</section>
			<section class="why-hytly-we">
				<div class="why-hytly-we__container">
					<p class="why-hytly-we__title-h2 title-h2">Чому саме ми? Все просто!</p>
					<div class="why-hytly-we__items">
						<i class="icon-cool"></i>
						<p class="text-fz12">Контроль якості</p>
					</div>
					<div class="why-hytly-we__items">
						<i class="icon-car-mark"></i>
						<p class="text-fz12">Доставка</p>
					</div>
					<div class="why-hytly-we__items">
						<i class="icon-point"></i>
						<p class="text-fz12">Конкурентні ціни</p>
					</div>
					<div class="why-hytly-we__items">
						<i class="icon-box"></i>
						<p class="text-fz12">Більше 1000 товарів</p>
					</div>

				</div>

			</section>
			<section class="consultation">
				<div class="consultation__container">
					<p class="consultation__title">Отримати консультацію</p>
					<p class="consultation__subtitle">Маєте запитання? Залишіть ваші контакти і ми вам зателефонуємо!</p>
					<form action="#" class="consultaion__form">
						<div class="consultation__input-left">
							<input type="text" placeholder="Ім`я">
							<input type="tel" placeholder="Телефон">
						</div>
						<textarea placeholder="Ваше повідомлення"></textarea>
						<div class="consultaion__right">
							<input type="checkbox" id="dont-robot">
							<label for="dont-robot">Я не робот</label>
							<button type="submit" class="consultaion__send-form">
								<i class="arrow-down"></i>
								відправити
							</button>
						</div>
					</form>
				</div>

			</section>
		</main>
		<div class="workspace__footer">
			{% include "html/footer.html" %}
		</div>


	</div>
</div>

{% include "html/_document-footer.html" %}